<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
        <p class="card-text">Username: {{ user.username }}</p>
        <p class="card-text">Phone: {{ user.phone }}</p>
        <p class="card-text">Website: {{ user.website }}</p>
        <p class="card-text">Address: {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}</p>
        <p class="card-text">Company: {{ user.company.name }} - {{ user.company.catchPhrase }}</p>
        <a [routerLink]="['/user','todo',user?.id]"  >Show Todos</a>
        <button (click)="deleteUser()" type="button" class="btn btn-danger m-lg-2">Delete</button>
        <button [routerLink]="['/user', 'edit', user?.id]" class="btn btn-primary m-lg-2">Edit</button>
      </div>
    </div>
  </div>